@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif; 
}
.group-list, .contact-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -5px;
}
@media all and (max-width: 500px) {
    .group-list, .contact-list{
        flex-direction: column;
    }
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.spinner { 
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
}

.bottomNav {
    width: inherit;
}
.stickToBottom {
    width: 100%;
    position: fixed;
    bottom: 0;
}
.nameContainer {
    margin-bottom: 50px;
}

.groupContainer {
    margin-bottom: 50px;
}