@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: local('Roboto'), url(./fonts/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: local('Roboto'), url(./fonts/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: local('Roboto'), url(./fonts/Roboto-Bold.ttf) format('truetype');
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    font-family: 'Roboto', sans-serif; 
}
.group-list, .contact-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -5px;
}
@media all and (max-width: 500px) {
    .group-list, .contact-list{
        flex-direction: column;
    }
}

.groupCard {
    margin: 15px auto;
    width: 300px;
    height: 70px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.25), -2px -2px 15px 3px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.groupCard .group_name {
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin: 15px auto auto 10px;
}

.groupCard .group_desc {
    text-align: center;
    font-size: 30px;
    border-radius: 0px 0px 20px 20px;
    margin: 15px auto auto auto;
}

.groupCard:hover, .groupCard:active {
    transform: scale(0.9, 0.9);
    box-shadow: 3px 3px 20px 7px rgba(0,0,0,0.25), 
        -3px -3px 20px 7px rgba(0,0,0,0.22);
}

.contactCard:hover, .contactCard:active{
    transform: scale(0.97, 0.97);
    box-shadow: 3px 3px 20px 7px rgba(0,0,0,0.25), 
        -3px -3px 20px 7px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

.spinner { 
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
}
.contactCard {
    margin: 15px auto;
    border-radius: 20px;
    height:175px;
	width:300px;	
	overflow: hidden;
    box-shadow: 2px 2px 15px 3px rgba(0,0,0,0.25), -2px -2px 15px 3px rgba(0,0,0,0.22);
    transition: 0.4s;
    background-color: lightcoral;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
}

.contactCard .contactIcon {
    height: 125px;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img {
    max-width: 100%;
    height: inherit;
}
.logo{
    height: 100px;
    border-radius: 4px;
    display: inline-block;			
    background: #6acd79;
    color: #fff;
    padding: 0 0.1em 0 .1em;
    border: 4px solid #fff;
    position: relative;
    pointer-events: none;
    font-size: 4em;				
}
.logo .fat{
    font-weight: 800;
}
.logo .skinny{
    font-weight: 100;
}
.contactInfo {
    position: absolute;
    margin: auto;
    height:175px;
	width:300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    opacity: 0;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 20px;
    
    transition: 0.2s linear;
    /* background: linear-gradient(#E96874, #6E3663, #2B0830); */
    background-color: lightcyan;
    /* border-radius: 2px; */
    /* box-shadow: 0 6px 12px -3px rgba(0,0,0,.3); */
    /* color: #fff; */
    /* padding: 30px; */
    flex: 1;
}
.contactInfo .infoTopRow {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

}
.contactInfo .infoMiddleRow {
    width: inherit;
    height: inherit;
    background-color: lawngreen;
    padding: 0 5px 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}
.contactInfo .infoBottomRow {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: lightseagreen;
}
.cardContainer {
    position: relative;
}
.contactCardHover {
    transition: 0.2s linear;
    opacity: 1;
}
.contactDate {
    font-size: 16px;
}
.contactName {
    font-size: 24px;
}
